<div class="badge badge-info">
    <h4>Edit Recipe</h4>
</div>
<div *ngIf="item" class="card-text">
    <form  (ngSubmit)="editRecipe()">
        <div class="row">
            <div class="col-xl-6 form-group">
                <label for="name">Name</label>
                <input [(ngModel)]="item.name" name="name" type="text" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label for="comments">Comments</label>
                <input [(ngModel)]="item.comments" name="comments" type="text" class="form-control" />
            </div>
        </div>
        <div class="row m-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <a routerLink="/recipes" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>